# Ignore Git
.git
.github
.gitignore

*.md

node_modules
renovate.json

# Ignore Editor & OS files
.vscode
.DS_Store
*.swp
*.swo

# Ignore Docker meta-files
Dockerfile
docker-compose-*.yml
docker-compose.yml
.dockerignore

# Ignore Secrets
.env
.env.*

# Ignore Local Data
data
caddy_*
Caddyfile
node_modules
npm-debug.log
README.md
data/*
!data/.keep
screenshots/
